* {
	margin: 0;
	padding: 0;
	text-decoration: none;
	list-style: none;
}


.slide {
	margin-top: 30px;
}

.nav-shadow {
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.5) !important;
}

.centered {
	text-align: center;
}

.foot_title {
	margin-bottom: 40px;
}

#tick-svg {
	width: 400px;
	height: 400px;
}

#tick-div {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	flex-direction: column;
}

#tick-circle {
	fill: none;
	stroke: rgb(33, 233, 14);
	stroke-width: 20;
	stroke-dasharray: 1194;
	/* 190*2*PI=1194 */
	stroke-dashoffset: 1194;
	stroke-linecap: round;
}

#header-pay {
	display: none;
}

#goto-pay {
	display: none;
}

#tick-poly {
	stroke-dasharray: 350;
	stroke-dashoffset: 350;
	fill: none;
	stroke: rgb(33, 233, 14);
	stroke-width: 20;
}

@keyframes circle {
	from {
		stroke-dashoffset: 1194;
	}

	to {
		stroke-dashoffset: 2388;
	}
}

@keyframes tick {
	from {
		stroke-dashoffset: 350;
	}

	to {
		stroke-dashoffset: 0;
	}
}


.clean-block2 {
	padding-top: 60px;
	padding-bottom: 50px;
}

/* 主页产品列表相关样式开始 */
.product-show-container {
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.075);
	text-align: center;
}

.product-show-container:hover {
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.product-show-container a {
	color: #2c3e50;
}

.product-show-container a:hover {
	color: #e74c3c;
	text-decoration: none;
}

.product-show-info p {
	margin-bottom: 0;
	margin-top: 1rem;
	font-size: 0.9rem;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	padding-left: 1.2rem;
	padding-right: 1.2rem;
}

.product-img img {
	width: 300px;
	height: 220px;
	margin-top: 20px;
}

.product-price p {
	font-size: 1.5rem;
	color: #c0392b;
	padding-top: 1rem;
	padding-bottom: 1rem;
}

/* 主页产品列表相关样式结束 */

.img_info img {
	width: 400px;
	height: 400px;
}

.pa-Item {
	cursor: pointer;
}

.dropdown-item a {
	color: #2c3e50;
	text-decoration: none;
	font-size: 0.8rem;
}

/* .tabs-border {
	border-bottom: 1px solid #dee2e6;
} */
.product-name{
	white-space: nowrap;
	text-overflow:ellipsis;
	overflow:hidden;
}
.image img{
	width: 220px;
	height: 170px;
}
.active{
	pointer-events: none;
	cursor: auto;
}
.center-btn{
	margin-bottom: 1rem;
}
.sc-pro-name{
	white-space: nowrap;
	text-overflow:ellipsis;
	overflow: hidden;
}
.sc-pro-name a:hover{
	text-decoration: none;
}
.btn-del button{
	float: right;
	margin-top: 1.5rem;
	margin-bottom: 1.5rem;
}
.product-box{
	margin-bottom: 1.5rem;
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.075);
}
.product-box:hover{
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}
.clean-block.clean-cart .items .product .product-image{
	border: none;
}
#add-address-box{
	padding: 40px;
}
.clean-block.payment-form .products .item p{
	padding-right: 150px;
}
.clean-block.payment-form .products .item {
	margin-bottom: 3em;
}
.del-address{
	float: right;
}