{include  file="./public/common/admintop.html"/}
<meta charset="utf-8">
<center>
<br><br>
<br><br>
<br><br>
<br>
 <FORM action="{:url('goods/updateDigital')}" method="post" enctype="multipart/form-data" class="form-group">
   <table >
   <tr>
   <td colspan=2 style="background:url('image/ico_60.jpg'); text-align:center; width:650px;">
   <font size=4>数码产品修改</font>&nbsp;&nbsp;<a href="{:url('goods/index')}">返回</a></td>   
   </tr>
   <tr>
   <td style="text-align:right"><font size=2>编号：</font></td>   
   <td><input type=text name="goods_id" SIZE="18" readonly="true" value="{$digital.goods_id}"  class="form-control"></td>  
   </tr>
   <tr>
   <td style="text-align:right"><font size=2>名称：</font></td>   
   <td><input type=text name="goods_name" SIZE=50 value="{$digital.goods_name}"  class="form-control"></td>  
   </tr>
   <tr>
   <td style="text-align:right"><font size=2>分类：</font></td>   
   <td><Select name="cate_id"  class="form-control">
                     <Option value="1">笔记本电脑
                     <Option value="2">平板电脑
                     <Option value="3">手机
                     <Option value="4">配件
                     <Option value="5">相机
                   </Select> 
   </td>  
   </tr> 
   <tr>
   <td style="text-align:right"><font size=2>品牌：</font></td>   
   <td><Select name="brand"  class="form-control">
                     <Option value="华硕">华硕
                     <Option value="华为">华为
                     <Option value="Apple">Apple
                     <Option value="SONY">SONY
                     <Option value="Canon">Canon
                     <Option value="Beats">Beats
                     <Option value="联想(Lenovo)">联想(Lenovo)
                     <Option value="联想ThinkPad">联想ThinkPad
                     <Option value="戴尔">戴尔
                     <Option value="惠普">惠普
                     <Option value="小米 红米">小米 红米
                     <Option value="小米">小米
                     <Option value="一加">一加
                     <Option value="vivo">vivo
                     <option value="oppo">oppo
                   </Select> 	
   </td>  
   </tr>
   <tr>
   <td style="text-align:right"><font size=2>库存：</font></td>   
   <td><input type=text name="stock" SIZE=18 value="{$digital.stock}"  class="form-control"></td>  
   </tr>
   <tr>
   <td style="text-align:right"><font size=2>描述：</font></td>   
   <td><input type=text name="description" SIZE=40 value="{$digital.description}"  class="form-control"></td>  
   </tr>
   <tr>
   <td style="text-align:right"><font size=2>单价：</font></td>   
   <td><input type=text name="max_price" SIZE=18 value="{$digital.max_price}"  class="form-control"></td>  
   </tr>
   <tr>
   <td style="text-align:right"><font size=2>图片：</font></td>
   <td><input type="file" name="img_url" class="form-control"> 
   <a href="__ROOT__/assets/img/goods_img/{$digital.img_url}">
   <img src="__ROOT__/assets/img/goods_img/{$digital.img_url}" width="80" height="80" border="0"> </a></td>
   </tr>
   <tr>
   <td colspan=2 style="text-align:center"><INPUT type="submit" name="s" value="提交" class="btn btn-primary"></td></tr>
   </table>
   </FORM>
</center>