{include file="./public/common/top.html"/}

<script src="__ROOT__/public/static/js/jquery-1.4.2.js"></script>
<script type="text/javascript">
	$(function(){
		$("#email_msg").css("color","#ff0000");
		$("#passw1_msg").css("color","#ff0000");
		$("#passw2_msg").css("color","#ff0000");
		$("input[name='email']").blur(function(){
			if($(this).val()==''){
				$("#emailCheck").hide();
				$("#email_msg").text("email不能为空");
		}else{
			var  regExp=/^\w+@\w+(\.\w+)+$/;
			$("#emailCheck").hide();
			var email=$(this).val();
			if(regExp.test(email)){
				$("#emailCheck").show();
				$("#email_msg").text("");
			}else
				$("#email_msg").text("email格式不正确");
		}
	});
	$("input[name='passw1']").blur(function(){
		if($(this).val()=='')
			$("#passw1_msg").text("密码不能为空！");
		else if ($(this).val().length<6)
			$("#passw1_msg").text("密码长度不能小于6！");
		else
			$("#passw1_msg").text("");
	});
	$("input[name='passw2']").blur(function(){
		if($(this).val()=='')
			$("#passw2_msg").text("确认密码不能为空！");
		else{
			if($("input[name='passw1']").val()==$(this).val())
				$("#passw2_msg").text("");
			else
				$("#passw2_msg").text("两次密码输入不一致！");
		}
	});
});
	function CheckEmailExit(thisobj){
		var email = $("input[name='email']").val();
		$("#email_msg").load("__ROOT__/reg.php",{email:email},function(result){
			$("#emailCheck").hide();
			$("#email_msg").text(result);
		});
	}
    function refreshComposer() {
        var ts = Date.parse(new Date())/1000;
        $('#composer_img').attr("src", "../../captcha?id="+ts);
    }
</script> 
<br />
<main class="page registration-page">
        <section class="clean-block clean-form dark">
            <div class="container">
                <div class="block-heading">
                    <h2 class="text-info">注册</h2>
                    <p>注册新用户--填写注册信息，输入用户名和密码</p>
                </div>
                <form  action="{:url('register/doRegister')}" method="post" n="f">
                    <div class="form-group">
                        <label for="email">E-mail地址</label>
                        <input class="form-control item" type="email" id="email" name="email" value="">
                        <label><a id="emailCheck" href="javascript:void(0)" onclick="CheckEmailExit(this)">检查email是否已被使用</a></label>
                        <span id="email_msg"></span>
                    </div>
                    <div class="form-group">
                        <label for="password">密码</label>
                        <input class="form-control item" type="password" id="password" name="passw1">
                        <label for=""><span id="passw1_msg"></span></label>
                    </div>
                    <div class="form-group">
                        <label for="password">确认密码</label>
                        <input class="form-control item" type="password" id="repassword" name="passw2">
                        <label for=""><span id="passw2_msg"></span></label>
                    </div>
                    <div class="form-group">
                        <label for="composer">验证码</label><br />
                        <input class="form-control item" type="text" id="composer" name="code" style="width:180px;float:left">
                        <label for="" style="float:right"><img src="{:captcha_src()}" id= "composer_img" onclick='this.src="{:captcha_src()}"'}/>
                        <a href="javascript:refreshComposer()">看不清换一张</a></label>
                    </div>
                    <input class="btn btn-primary btn-block" type="submit" id="sub-btn" value="注册"></input>
                    </form>
            </div>
        </section>
    </main>
 {include file="./public/common/bottom.html"/}